<div class='container mt-5 text-center'>
  <select name='category' id='category' class='col-6 f4-3 border border-3'>
    <option>類別</option>
    <option value='1'>家居物業</option>
    <option value='2'>交通出行</option>
    <option value='3'>休閒娛樂</option>
    <option value='4'>餐飲食品</option>
    <option value='5'>其他</option>
  </select>
  <div class='d-flex justify-content-center'>
    <div class='d-flex align-items-center justify-content-around mt-3 mb-3 col-8'>
      <div class='p-2 fs-4' id='totalAmountLabel'>Total：</div>
      <div class='p-2 fs-1 fw-bold' id='totalAmount'>{{totalAmount}}</div>
    </div>
  </div>
  
{{#each records}}
<div class="row text-start fs-4 mb-2 d-flex align-items-center" style="border: none;">
  <div class="col-2 text-end" style="border: none;">
    {{{this.categoryIcon}}}
  </div>
  <div class="col-6 d-flex align-items-center" style="border: none;">
    <div class="name flex-grow-1 d-flex flex-column">
      <div class="fs-3">{{this.name}}</div>
      <div class="fs-6" id="date">{{this.date}}</div>
    </div>
    <div class="price fs-2 fw-bold" style="border: none;">{{this.amount}}</div>
  </div>
  <div class="col text-center" style="border: none;">
    <a href="/records/{{this._id}}/edit" class="btn btn-success">Edit</a>
  </div>
  <div class="col text-center" style="border: none;">
    <a href="/records/{{this._id}}/delete" class="btn btn-danger">Delete</a>
  </div>
</div>
    {{/each}}
  </div>
</div>